<% content_for :title, "цЦ╜шинч╖ищЫЖ" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">ЁЯПв цЦ╜шинч╖ищЫЖ</h2>

          <%= render 'form', facility: @facility %>

          <div class="text-center mt-3">
            <%= link_to "уВнуГгуГ│уВ╗уГл", @facility, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
